fastapi
uvicorn
pydantic
python-multipart

numpy
biopython

torch==2.2.2+cpu
torchvision==0.17.2+cpu
torchaudio==2.2.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric==2.5.2
