:root {
    --background: #1B1B1B;
    --lines: rgb(45, 45, 45);
    --secondary: #5092d9;
}

* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: inter;
}

body {
    background: var(--background);
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

.blob1, .blob2{
    position: absolute;
    z-index: -1;
    top: 0;
    left: -40%;
    opacity: 0.5;
    filter: brightness(0) saturate(100%) invert(35%) sepia(82%) saturate(2471%) hue-rotate(248deg) brightness(98%) contrast(107%);
}

.grid{
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.1;
}

.blob2{
    left: 80%;
}

nav{
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.brandName, .navItems, .getStarted{
    width: 33%;
    display: flex;
    align-items: center;
}

.brandName{
    justify-content: flex-end;
    font-size: 1.5rem;
}

.brandName img{
    height: 50%;
    margin-right: 0.5vw;
    width: auto;
    border-radius: 5px;
}

.navItems{
    justify-content: center;
}

.navItem{
    position: relative;
    cursor: pointer;
}

.navItem::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    transition: all 150ms ease-out;
    height: 1px;
    border-radius: 100px;
    background: var(--secondary);
}

.navItem:hover::after{
    width: 100%;
}

.navItem:nth-child(2){
    margin: 0 1vw;
}

.getStarted{
    font-size: 1rem;
}

.getStartedBox{
    background: linear-gradient(135deg, #ff7a66 0%, #ff4966 40%, #a64bff 100%);
    padding: 1.25vh 1.25vw;
    border-radius: 100px;
    cursor: pointer;
}

main{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 17.5vh;
}

.title{
    font-size: 5vw;
    font-weight: 600;
    margin-bottom: 5vh;
}

.tagline{
    width: 53vw;
    color: rgb(190, 190, 190);
    margin-bottom: 10vh;
}

.preview{
    width: 75vw;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.preview img{
    width: 100%;
    height: auto;
}

.features{
    width: 100vw;
    height: max-content;
    margin-top: 10vh;
    background: rgb(8, 8, 8);
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headingBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headingTag{
    color: #a64bff;
    background: var(--lines);
    padding: 1.25vh 1.25vw;
    border-radius: 100vw;
    margin-bottom: 2vh;
}

.headingTitle{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 5vh;
}

.featuresBox{
    width: 75vw;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature{
    display: flex;
    width: 49%;
    height: 10vh;
    margin-bottom: 2vh;
}

.featureIcon{
    height: 100%;
    aspect-ratio: 1.5 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.featureIcon > .bi{
    color: rgba(166, 75, 255, 0.9);
}

.featureDesc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1vh 0;
}

.featureHeading{
    font-size: 1.25rem;
    font-weight: 500;
}

.featureTagline{
    color: rgb(175, 175, 175);
}

footer{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(8, 8, 8);
    text-align: center;
    line-height: 3vh;
    position: relative;
}

footer::after{
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background: var(--lines);
}

